@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

 $font: 'Roboto';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background: rgb(27, 61, 95);
    color: #fff;
}

.container{
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 24px;
}

.form{
    .container{
        .form__wrapper{
            .form__title{
                display: flex;
                justify-content: center;
                margin-top: 30px;
            }
            #addContact{
                display: flex;
                align-items: center;
                gap: 30px;
                position:relative;
                display:inline-block;
                margin:20px;
                &:after{
                    content:"";
                    height:100%;
                    width:100%;
                    padding:4px;
                    position: absolute;
                    bottom:-15px;
                    left:-4px;
                    z-index:-1;
                    background-color:#2B1800;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                  }
                img{
                    width: 50px;
                    height: 50px;
                }
                p{
                    color:white;
                    font-family:Helvetica, sans-serif;
                    font-weight:bold;
                    font-size:36px;
                    text-align: center;
                    text-decoration:none;
                    background-color:#FFA12B;
                    display:block;
                    position:relative;
                    padding:20px 40px;
                    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                    text-shadow: 0px 1px 0px #000;
                    filter: dropshadow(color=#000, offx=0px, offy=1px);
                    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
                    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
                    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    &:active{
                        top:10px;
                        background-color:#F78900;
                        -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
                        -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
                        box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
                      }
                  }
                }
            }
            .modal{
                z-index: 2;
                transition: 1.5s;
                margin-top: 70px;
                border-radius: 50px;
                display: grid;
                padding: 80px;
                background: #f5f5f5;
                place-content: center;
                margin-top: -100%;
                h2{
                    display: flex;
                    justify-content: center;
                    color: #380606;
                }
                .form__input {
                    width: clamp(120px, 50vw, 420px);
                    height: 2.5rem;
                    padding: 0 1.25rem;
                    border: 1px solid #000;
                    border-radius: 2px;
                    margin: 0.625rem auto;
                    transition: all 250ms;
                    
                    &:focus {
                      outline: none;
                      border-top-color: rgba(0,0,0,0.1);
                    }

                    &:focus + .form__label, &:not(:placeholder-shown) + .form__label {
                      transform: translateY(-4.50rem) scale(1);
                      color: #000;
                    }
                    &::placeholder {
                        display: none;
                        color: transparent;
                        user-select: none; /* Standard syntax */
                    }
                
                    &:not(:placeholder-shown) {
                      border-top-color: rgba(0, 0, 0, 0.5);
                    }
                  }
              
                  .form__label {
                    font-size: 1rem;
                    color: grey;
                    display: block;
                    transform: translate(1.25rem,-2.5rem);
                    transform-origin: 0 0; 
                    transition: all 500ms;
                    user-select: none; 
                     pointer-events: none; 
                  }
                  
                }
            }
        }
    .buttons {
        display: flex;
        width: 380px;
        gap: 10px;
        --b: 5px;   /* the border thickness */
        --h: 1.8em; /* the height */
      }
      
      .buttons button {
        --_c: #88C100;
        flex: calc(1.25 + var(--_s,0));
        min-width: 0;
        font-size: 40px;
        font-weight: bold;
        height: var(--h);
        cursor: pointer;
        color: var(--_c);
        border: var(--b) solid var(--_c);
        background: 
          conic-gradient(at calc(100% - 1.3*var(--b)) 0,var(--_c) 209deg, #0000 211deg) 
          border-box;
        clip-path: polygon(0 0,100% 0,calc(100% - 0.577*var(--h)) 100%,0 100%);
        padding: 0 calc(0.288*var(--h)) 0 0;
        margin: 0 calc(-0.288*var(--h)) 0 0;
        box-sizing: border-box;
        transition: flex .4s;
      }
      .buttons button + button {
        --_c: #FF003C;
        flex: calc(.75 + var(--_s,0));
        background: 
          conic-gradient(from -90deg at calc(1.3*var(--b)) 100%,var(--_c) 119deg, #0000 121deg) 
          border-box;
        clip-path: polygon(calc(0.577*var(--h)) 0,100% 0,100% 100%,0 100%);
        margin: 0 0 0 calc(-0.288*var(--h));
        padding: 0 0 0 calc(0.288*var(--h));
      }
      .buttons button:focus-visible {
        outline-offset: calc(-2*var(--b));
        outline: calc(var(--b)/2) solid #000;
        background: none;
        clip-path: none;
        margin: 0;
        padding: 0;
      }
      .buttons button:focus-visible + button {
        background: none;
        clip-path: none;
        margin: 0;
        padding: 0;
      }
      .buttons button:has(+ button:focus-visible) {
        background: none;
        clip-path: none;
        margin: 0;
        padding: 0;
      }
      button:hover,
      button:active:not(:focus-visible) {
        --_s: .75;
      }
      button:active {
        box-shadow: inset 0 0 0 100vmax var(--_c);
        color: #fff;
      }